:host {
    --menu-width: calc(2 * var(--padding));
    --padding-bottom: calc(5 * var(--padding));


    width: 100vw;
    min-height: 100vh;
    padding-bottom: var(--padding-bottom);
    display: block;
    background-color: var(--color-background-dark);
    position: relative;

    .menu {
        display: none;
        position: fixed;
        width: calc(100vw - var(--menu-width));
        justify-content: space-between;
        transform: translate(-50%, 0);
        bottom: 0.5rem;
        left: 50%;
        background-color: var(--color-primary);
        padding: 1rem var(--padding);
        border-radius: var(--border-radius);

        &.active-link {
            display: flex;
        }

        &-item {
            text-decoration: none;

            &.active {
                font-family: 'Material Icons';
            }
        }
    }
}