:host {
  display: flex;
  flex-direction: column;

  .player {
    padding: var(--padding);

    &-header {
      display: flex;
      gap: var(--padding);
      align-items: center;

      &-home-link {
        text-decoration: none;
        border-radius: calc(var(--border-radius) / 2);
        background-color: var(--color-secondary-variant);
        padding: calc(var(--padding) / 4);
        color: var(--color-backoground-light);

        &:hover {
          background-color: var(--color-primary-variant);
        }

        &.active {
          font-family: "Material Icons";
        }
      }

      &-title {
        min-width: calc(var(--font-size) * 5);
        height: var(--font-size);
        border-radius: var(--border-radius);
      }
    }

    &-menu {
      display: flex;
      gap: var(--padding);
      list-style-type: none;
      padding-top: var(--padding);

      &-item {
        border-radius: var(--border-radius);
        padding: calc(var(--padding) / 2) var(--padding);
        background-color: var(--color-secondary-variant);
        cursor: pointer;

        &:hover {
          background-color: var(--color-primary-variant);
        }

        &.active {
          background-color: var(--color-primary);
        }
      }
    }
  }

  .video {
    display: flex;
    background-color: var(--color-black);
    justify-content: space-around;

    &-player {
      width: 100vw;
      height: 45vh;
      border: 0;
    }
  }

  @media (min-width: 768px) {
    .video {
      &-player {
        width: 768px;
        height: 55vh;
      }
    }
  }
}
