@use '@angular/material' as mat;

@import 'assets/styles/skeleton.scss';
@import 'assets/styles/variables.scss';
@import 'assets/styles/colors.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-background-light);

  --title-font: var(--title-font-size-mobile);
  --subtitle-font: var(--subtitle-font-size-mobile);

  mat-card-title.mat-mdc-card-title {
    font-size: var(--title-font);
  }

  mat-card-subtitle.mat-mdc-card-subtitle {
    font-size: var(--subtitle-font);
  }

  @media screen and (min-width: 740px) {
    --title-font: var(--title-font-size-tablet);
    --subtitle-font: var(--subtitle-font-size-tablet);
  }

  @media screen and (min-width: 1020px) {
    --title-font: var(--title-font-size-desktop);
    --subtitle-font: var(--subtitle-font-size-desktop);
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-background-dark);
}
