:root {
    --color-primary: #ff7700;
    --color-primary-variant: #e04d01;
    --color-secondary: #2c4875;
    --color-secondary-variant: #2a2550;
    --color-background-light: #ffffff;
    --color-background-dark: #251d3a;
}