:root {
    --color-primary: #ff6361;
    --color-primary-variant: #ff8531;
    --color-secondary: #8a508f;
    --color-secondary-variant: #bc5090;
    --color-background-light: #ffffff;
    --color-background-dark: #00202e;
    --color-black: #000000;
}