:root {
    .skeleton {
        animation: skeleton-loading 1s linear infinite alternate;
        box-sizing: content-box;
        width: fit-content;
        color: transparent;
        border-radius: var(--padding);
    }

    .skeleton-no-radius {
        @extend .skeleton;
        border-radius: 0;
    }

    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 80%);
        }

        50% {
            background-color: hsl(200, 20%, 90%);
        }

        100% {
            background-color: hsl(200, 20%, 100%);
        }
    }
}