:root {
  --padding: 16px;
  --border-radius: 16px;

  --font-size: 16px;
  --title-font-size: 16px;
  --subtitle-font-size: 12px;

  --font-size-mobile: var(--font-size);
  --title-font-size-mobile: var(--title-font-size);
  --subtitle-font-size-mobile: var(--subtitle-font-size);

  --font-size-tablet: calc(var(--font-size) * 1.25);
  --title-font-size-tablet: calc(var(--title-font-size) * 1.25);
  --subtitle-font-size-tablet: calc(var(--subtitle-font-size) * 1.25);

  --font-size-desktop: calc(var(--font-size) * 1.5);
  --title-font-size-desktop: calc(var(--title-font-size) * 1.5);
  --subtitle-font-size-desktop: calc(var(--subtitle-font-size) * 1.5);
}
