:host {  
  .server {
    &-link {
      text-decoration: none;

    }

    &-name {
      padding: 8px 0 8px 0;
      background-color: var(--color-primary);
      width: 32px;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}
