:host {
  * {
    padding: 0;
    margin: 0;
  }

  --flex-direction: row;
  --image-width: 200px;
  --image-height: auto;
  --latest-image-width: 100%;
  --latest-image-height: auto;
  --image-min-width: 112px;
  --border-radius: 4px 4px 0 0;
  --latest-episode-align-items: center;

  .skeleton {
    width: var(--image-width);
    height: var(--image-height);
  }

  .new-episodes {
    &-last-episode {
      padding: var(--padding) 0 var(--padding);
      background-color: var(--color-background-dark-2);
      box-shadow: none;
      align-items: var(--latest-episode-align-items);
      display: flex;

      &-image {
        width: var(--latest-image-width);
        height: var(--latest-image-height);
        cursor: pointer;
      }
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 400;
      padding: var(--padding) var(--padding) var(--padding) 0;
    }

    &-list {
      padding: var(--padding) var(--padding) var(--padding) 0;
      display: flex;
      gap: var(--padding);
      list-style: none;
      overflow-y: visible;
      flex-direction: var(--flex-direction);

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

      .episode {
        text-align: left;
        position: relative;
        height: var(--image-height);
        border-radius: var(--border-radius);

        &-info {
          margin-top: 4px;
        }

        &-image {
          cursor: pointer;
          height: var(--image-height);
          width: var(--image-width);
        }
      }
    }
  }

  @media screen and (min-width: 740px) {
    --flex-direction: row;
    --latest-image-width: 500px;
    --latest-image-height: 333px;
    --image-width: 300px;
    --image-height: 200px;
    --latest-episode-align-items: flex-start;
  }
}
