:host {
    .new-episodies {
        &-title {
            font-size: 1.5rem;
            font-weight: 400;
            padding: var(--padding);
        }

        &-list {
            padding: 0 var(--padding);
            display: flex;
            gap: 1.5rem;
            list-style: none;
            overflow-y: scroll;

            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */


            .episode {
                text-align: left;
                position: relative;

                &-image {
                    border-radius: var(--border-radius);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    min-width: 300px;
                    min-height: 200px;
                }

                &-footer {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    padding: 3rem 1rem 1rem 1rem;
                    background: linear-gradient(transparent, var(--color-background-dark) 120%);
                }

                &-subtitle {
                    font-size: 0.7rem;
                }
            }
        }
    }
}