:host {

  * {
    padding: 0;
    margin: 0;
  }

  --flex-direction: row;
  --width: 100%;
  --image-height: 136px;
  --image-min-width: 112px;
  --border-radius: 4px 4px 0 0;

  .new-episodes {
    &-title {
      font-size: 1.5rem;
      font-weight: 400;
      padding: var(--padding);
    }

    &-list {
      padding: 0 var(--padding);
      display: flex;
      gap: 0.5rem;
      list-style: none;
      overflow-y: visible;
      flex-direction: var(--flex-direction);

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

      .episode {
        text-align: left;
        position: relative;
        height: var(--image-height);
        border-radius: var(--border-radius);
        
        &-servers, &-servers--selected {
          position: absolute;
          background-color: var(--color-background-dark-2);
          height: 100%;
          width: 100%;
          visibility: hidden;
          border-radius: var(--border-radius);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          z-index: 1;

          &--selected {
            visibility:visible
          }

          &--list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            gap: 4px;
            padding-top: var(--padding);
          }

          &--title {
            font-size: 1.5rem;
            font-weight: 400;
            padding-top: var(--padding);
            padding-bottom: var(--padding);
            text-align: center;
          }
        }

        &-image {
          border-radius: var(--border-radius);
          min-width: var(--image-min-width);
          height: var(--image-height);
          width: var(--width);
          display: block;
        }

        &-footer {
          background-color: var(--color-primary);
          width: 100%;
          bottom: 0;
          padding: 8px;
          min-height: 52px;
        }

        &-subtitle {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media screen and (min-width: 740px) {
    --flex-direction: row;
    --width: auto;
  }
}
